body{
    height: auto;

}

button{
    width: 10vh;
}
p{
    margin: 8px;
    padding: 0;
}

.buttonsPanel{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameDisplay{
    display: flex;
    justify-content: space-around;
    border: 3px dotted green;
}

#startButton{
    margin-bottom: 20px;
}


#options{
    display: none;
    /* margin-bottom: 20px;
    
    flex-direction:row;
    justify-content: space-evenly;
    width: auto; */
    
}
#nextRoundButton{
    display:none;
}
#roundWinner{
    display:none;
}

.panel{
    width: 300px;
    height: 200px;
    /* display: inline-flex;
    justify-content: center; */
    border: 3px solid black;
    
}

.playerPanel, .enemyPanel{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.optionImage{
    margin-top: 50px;

}
#cacheImages{
    display : none;
}

.enemySelectionPanelDisplay .selectionPanelDisplay{
    display: none;
}

.displayedOption{
    width: 100px; 
    height: 100px;
}
.centralPanel{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}